<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/details.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="">
    <!-- navbar -->
    <nav
      class="navbar sticky-top bg-custom-navbar d-flex justify-content-between mb-3"
    >
      <div class="container-fluid">
        <a class="navbar-brand mx-5" href="#">SDMA Project</a>
        <form method="get" action="#" class="d-flex" id="find" role="search">
          <input
            id="searchIP"
            class="form-control me-2"
            name="search"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button id="searchbtn" class="btn btn-outline-success">Search</button>
        </form>
      </div>
    </nav>
    <!-- navbar -->
    <div class="container">
      <div class="card custom-card">
        <div class="d-flex justify-content-center">
          <img
            src="https://pbs.twimg.com/profile_images/1765436713537798144/La5aO5Vo_400x400.jpg"
            class=""
            alt="Profile Picture"
          />
        </div>
        <div class="card-body text-start">
          <h5 class="card-title mb-4">Name: <%=post.name%></h5>
          <p class="card-text">Roll number: <%=post.rollno%></p>
          <p class="card-text">Place: <%=post.place%></p>
        </div>
        <div class="card-buttons d-flex justify-content-between pb-3 mx-3">
          <button
            id="prevButton"
            class="btn btn-primary rounded-pill px-5"
            onclick="prevPost()"
          >
            <i class="bi bi-arrow-left-circle-fill"></i> Prev
          </button>

          <button
            id="nextButton"
            class="btn circle-btn btn-primary rounded-pill px-5"
            onclick="nextPost()"
          >
            Next <i class="bi bi-arrow-right-circle-fill"></i>
          </button>
          <div
            id="loader"
            class="spinner-border text-primary d-none"
            role="status"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>

    <script>
      const posts = <%- JSON.stringify(posts) %>;
      let currentIndex = <%= post.id %>;

      function displayPost(currentIndex) {
          const post = posts.find(post => post.id === currentIndex);
          document.querySelector('.card-title').textContent = "Name: " + post.name;
          document.querySelector('.card-text:nth-of-type(1)').textContent = "Roll number: " + post.rollno;
          document.querySelector('.card-text:nth-of-type(2)').textContent = "Place: " + post.place;
      }

      function prevPost() {
            currentIndex = (currentIndex - 1 + posts.length) % posts.length;
            displayPost(posts[currentIndex].id);
        }

        function nextPost() {
            currentIndex = (currentIndex + 1) % posts.length;
            displayPost(posts[currentIndex].id);
        }

        displayPost(currentIndex);
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="/main.js"></script>
  </body>
</html>
